
<a href="/product" class="list-group-item">商品列表</a>
<a href="/productadd" class="list-group-item">增加商品</a>
<% if(userInfo.username == 'admin'){%>
	<a href="/userlist" class="list-group-item">用户列表</a>
	<a href="/adduser" class="list-group-item">添加用户</a>
<%}%>

